  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
  body {
    font-family: arial;
  }
  pre {
    white-space: pre-wrap;   /* Preserve formatting but allow wrapping */
  word-wrap: break-word;   /* Break long words if necessary */
    font-family: arial;
  }
  input {
    border-width: 0px;
    border-radius: 10px;
  }
  button {
    background-color: #2688ff;
    border-width: 0px;
    color: white;
    border-radius: 10px;
  }
  h1, h2, h3, h4, h5, h6 {
  font-family: arial;
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}

  .bg {
    background-color: #EEEEEE;
    padding: 20px;
      border-radius: 20px;
    margin-bottom: 10px; margin-top: 10px;
    /* 
    background-image: url('assets/brightbg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px; 
}
